<div class="yourPage">
  <h2>Recent Activity</h2>

  <div class="yourPageStatRecent">

    <div class="YourPageStatSeparation">
      <p>Dernier Commentaire publié :</p>
      <p>par <span style="color: cornflowerblue">{{commentaireService.dernierComs$().credential_id.username}}</span></p>
      <p>à {{commentaireService.dernierComs$().created | date:'dd-MM-yyyy HH:mm'}}</p>
      <!--<p>Il a dit : {{commentaireService.dernierComs$().contenu}}</p> -->
    </div>

    <div class="YourPageStatSeparation">
      <p>Dernière Publication publiée :</p>
      <p>Par <span style="color: cornflowerblue">{{publicationService.dernierPubli$().credential_id.username}}</span></p>
      <p>à {{publicationService.dernierPubli$().created | date:'dd-MM-yyyy HH:mm'}}</p>
     </div>
     <div class="YourPageStatSeparation">
       <p>Dernier J'aime :</p>
       <p>par <span style="color: cornflowerblue">{{jaimeService.dernierLike$().credential_id.username}}</span></p>
       <p>à {{jaimeService.dernierLike$().created | date:'dd-MM-yyyy HH:mm'}}</p>
     </div>

   </div>
 </div>
