

<ng-container>

  <div class="post" *ngFor="let publication of publicationService.list$().reverse()">

    <div class="post__avatar">
      <img src="https://cdn-icons-png.flaticon.com/256/11172/11172308.png" alt=""/>
    </div>

    <div class="post__body">

      <div class="post__header">

        <div class="post__headerText">

          <h3>{{publication.credential_id.username}}</h3>
          <span>Publié à {{ publication.created | date:'dd-MM-yyyy HH:mm' }}</span>

        </div>
        <div class="post__headerDescription">
          <p>
            {{publication.contenu}}
          </p>
        </div>
      </div>
      <img src="./assets/image/paysage.png" alt=""/>
      <div class="post__footer">
        <a class="publicationJaimeIcone" (click)="afficherLike(publication.idPublication)">
          <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" alt="">
        </a>

        <ng-container *ngIf="idPublicationChoisiJaime === publication.idPublication">
            <span>{{jaimeService.listJaimePubli$().length}} Like </span>
        </ng-container>



        <a>
          <img src="https://cdn-icons-png.flaticon.com/128/3193/3193015.png" alt="">
        </a>
        <span *ngIf="commentaireService.listComsPubli$().length !== 0" >{{commentaireService.listComsPubli$().length}} Commentaire </span>
        <button class="boutonSupprimer" (click)="supprimerPublication(publication.idPublication)">Supprimer</button>
        <button class="boutonAfficher" (click)="afficherCommentaire(publication.idPublication)">Afficher</button>
      </div>


      <ng-container *ngIf="idPublicationChoisi === publication.idPublication">
      <ng-container *ngFor="let commentaire of commentaireService.listComsPubli$()">

          <div class="publicationCommentaire">
            <div class="publicationCommentaireInfo">
              <p>{{commentaire.credential_id.username}}</p>
              <span>Publié à {{ commentaire.created | date:'dd-MM-yyyy HH:mm' }}</span>
            </div>
            <p class="publiContenu">{{commentaire.contenu}}</p>
            <div class="separationJaime">
              <p></p>
              <button class="likeCommentaire" (click)="jaimeCommentaire(commentaire.idCommentaire)" >j'aime</button>
            </div>

          </div>

        </ng-container>
      </ng-container>


      <div class="repondreCommentaire" [formGroup]="config.formGroup">
        <div class="repondreCommentaireInput">
          <ng-container *ngFor="let field of config.fields">
            <input type="text" placeholder="Répondre à la publication" [formControl]="field.control" >
          </ng-container>
        </div>
        <button class="repondreCommentaireBouton" (click)="Commenter(publication.idPublication)"  >Poster</button>
      </div>




    </div>
  </div>


</ng-container>

