

<ng-container>

  <div class="post" *ngFor="let publication of publicationService.list$().reverse()">
    <div class="post__avatar">
      <img src="https://cdn-icons-png.flaticon.com/256/11172/11172308.png" alt=""/>
    </div>

    <div class="post__body">
      <div class="post__header">
        <div class="post__headerText">
          <h3>{{publication.credential_id.username}}</h3>
          <span>Publié à {{ publication.created | date:'dd-MM-yyyy HH:mm' }}</span>
        </div>
        <div class="post__headerDescription">
          <p>
            {{publication.contenu}}
          </p>
        </div>
      </div>
      <img src="https://www.motortrend.com/uploads/2022/09/Ram_1500_Subaru_Outback_AI_2.jpg" alt=""/>
      <div class="post__footer">
        <a class="publicationJaimeIcone" (click)="jaimePublication(publication.idPublication)">
          <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" alt="">
        </a>
        <ng-container>
          <span>5 like</span>
        </ng-container>


        <a>
          <img src="https://cdn-icons-png.flaticon.com/128/3193/3193015.png" alt="">
        </a> <span>5 commentaire</span>
        <button class="postBox_postBoutton" (click)="commentaireService.CommentaireList(publication.idPublication)">Afficher</button>
      </div>



      <ng-container *ngFor="let commentaire of commentaireService.listComsPubli$()">

          <div class="publicationCommentaire">
            <div class="publicationCommentaireInfo">
              <p>{{commentaire.idCommentaire}}</p>
              <span>Publié à {{ commentaire.created | date:'dd-MM-yyyy HH:mm' }}</span>
            </div>
            <p>
              {{commentaire.contenu}}
            </p>
          </div>

        </ng-container>



      <div class="repondreCommentaire" [formGroup]="config.formGroup">
        <div class="repondreCommentaireInput">
          <ng-container *ngFor="let field of config.fields">
            <input type="text" placeholder="Répondre à la publication" [formControl]="field.control" >
          </ng-container>
        </div>
        <button class="repondreCommentaireBouton" (click)="Commenter(publication.idPublication)"  >Poster</button>
      </div>




    </div>
  </div>


</ng-container>

