

<ng-container>

  <div class="post" *ngFor="let publication of publicationService.list$()">
    <div class="post__avatar">
      <img src="https://cdn-icons-png.flaticon.com/256/11172/11172308.png" alt=""/>
    </div>

    <div class="post__body">
      <div class="post__header">
        <div class="post__headerText">
          <ng-container *ngIf="publicationService.publicationUsername$() as profile">
          <h3>{{publication.idPublication}}</h3>
          </ng-container>
          <span>at {{publication.date_de_publication}}</span>
        </div>
        <div class="post__headerDescription">
          <p>
            {{publication.contenu}}
          </p>
        </div>
      </div>
      <img src="https://www.motortrend.com/uploads/2022/09/Ram_1500_Subaru_Outback_AI_2.jpg" alt=""/>
      <div class="post__footer">
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" alt="">
        </a>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/128/3193/3193015.png" alt="">
        </a>
        <button class="postBox_postBoutton" >Afficher</button>
      </div>
    </div>
  </div>


</ng-container>

