<div class="mainMenu">
  <div class="left">
    <app-sidebar></app-sidebar>
  </div>


  <div class="middle">
    <h2>My profile</h2>
    <div class="myProfileComplet">
      <div class="myProfileDiv">
        <label >Name</label>
        <input type="text">
      </div>
      <div class="myProfileDiv">
        <label>Surname</label>
        <input type="text">
      </div>
      <div class="myProfileDiv">
        <label>Description</label>
        <input type="text">
      </div>
      <div class="myProfileDiv">
        <label>Status</label>
        <input type="text">
      </div>
      <div class="myProfileDiv">
        <label>Email</label>
        <input type="text">
      </div>
      <div class="myProfileDiv">
        <label>Profile Picture</label>
        <input type="text">
      </div>
    </div>
  </div>


</div>



