<div class="mainMenu">
  <div class="left">
    <app-sidebar></app-sidebar>
  </div>


  <div class="myProfilePage">
    <div class="middle">
      <h2>Mon profil</h2>
      <div class="myProfileComplet">
        <div class="myProfileDiv" [formGroup]="config.formGroup">
          <ng-container *ngFor="let field of config.fields">
          <label>{{field.label}}</label>
          <input [type]="field.inputType"
                 [formControl]="field.control"
                 autocomplete="false"
                 [placeholder]="field.placeHolder"/>
          </ng-container>
        </div>
        <button class="repondreCommentaireBouton" (click)="modifier()">Modifier</button>
      </div>
    </div>


    <ng-container *ngIf="profilService.profil$() as profile">
      <div class="middle">
        <div class="myProfileComplet2">
          <div class="myProfileImg">
            <p>Photo de profil</p>
            <img src="https://cdn-icons-png.flaticon.com/256/11172/11172308.png" alt="">
          </div>

          <div class="myProfileAffichage">
            <p>Nom : {{profile.nom}}</p>
            <p>Prenom : {{profile.prenom}}</p>
            <p>Description : {{profile.description}}</p>
            <p>Email : {{profile.email}}</p>
          </div>
        </div>
      </div>
    </ng-container>

</div>

</div>
