<div class="mainMenu">
  <div class="left">
    <app-sidebar></app-sidebar>
  </div>


  <div class="myProfilePage">
    <div class="middle">
    <app-update-profil [config]="config" ></app-update-profil>
    </div>

    <ng-container *ngIf="profilService.profil$() as profile">
      <div class="middle">
        <div class="myProfileComplet2">
          <div class="myProfileImg">
            <!--<img src="https://cdn-icons-png.flaticon.com/256/11172/11172308.png" alt="">-->
            <img src="{{profile.photoProfil}}" alt="">
          </div>

          <div class="myProfileAffichage">
            <p>Nom : {{profile.nom}}</p>
            <p>Prenom : {{profile.prenom}}</p>
            <p>Description : {{profile.description}}</p>
            <p>Status : {{profile.status}}</p>
            <p>Email : {{profile.email}}</p>
          </div>
        </div>
      </div>
    </ng-container>

</div>

</div>
