
<div class="wrapper">
  <div class="title">{{title}}</div>
  <div class="error" *ngIf="error$().length > 0">Vous avez {{error$().length}} erreur(s)</div>
  <div class="form" [formGroup]="config.formGroup">
    <ng-container *ngFor="let field of config.fields">
      <label>{{field.label}}</label>
      <input [type]="field.inputType"
             [formControl]="field.control"
             autocomplete="false"
             [placeholder]="field.placeHolder"/>
    </ng-container>

    <button (click)="save()">{{btnLabel}}</button>
  </div>

  <ng-container *ngIf="title == 'Connexion'">
    <div>
      <button (click)="redirectSignUp()">Aller vers la page d'inscription</button>
    </div>
  </ng-container>
  <ng-container *ngIf="title == 'Inscription'">
    <div>
      <button (click)="redirectSignIn()">Aller vers la page de connexion</button>
    </div>
  </ng-container>

</div>
