<div class="yourPage">
  <h2>Mes Statistiques</h2>
  <div class="yourPageStat">
    <a href="">
      <img src="./assets/image/{{profilService.profil$().photoProfil}}.png" alt="">
    </a>
    <div class="YourPageStatSeparation">
      <h3>{{profilService.profil$().nom}} {{profilService.profil$().prenom}}</h3>
      <p>Publication : {{publicationService.listPubliUser$().length}}</p>
      <p>Commentaires : {{commentaireService.listComsUser$().length}}</p>
    </div>
  </div>
  <div class="yourPageLikesViews"></div>
  <div class="LikesViews">
    <span class="LikesViewsLikes">Likes</span> <span class="LikesViewsViews">Views</span>
  </div>
  <p>884 Likes</p>
  <p>35 New Likes This Week</p>
</div>
