

<div class="titreHeader">
  <h2>Fil d'actualité</h2>

  <div class="postBox" [formGroup]="config.formGroup" >
      <div class="postbox_input">
         <img src="./assets/image/{{profilService.profil$().photoProfil}}.png" alt="aveugle" />
        <ng-container *ngFor="let field of config.fields">
          <input [type]="field.inputType" [formControl]="field.control" [placeholder]="field.placeHolder" >
        </ng-container>

      </div>
      <button class="postBox_postBoutton" (click)="save()"  >Poster</button>
  </div>

</div>

